<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bluetoothtest.newVersion">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name="com.example.yf_04.bluetoothtest.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/tuuba_robot"
        android:label="新版本动作控制"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.yf_04.bluetoothtest.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.yf_04.bluetoothtest.Communicate"
            android:label="@string/title_activity_communicate"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name="com.example.yf_04.bluetoothtest.ServicesActivity"
            android:label="@string/title_activity_services"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentAct" />
        <activity
            android:name="com.example.yf_04.bluetoothtest.CharacteristicsActivity"
            android:label="@string/title_activity_characteritics"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransparentAct" />

        <service
            android:name="com.example.yf_04.bluetoothtest.BlueToothLeService.BluetoothLeService"
            android:enabled="true" />

        <activity
            android:name="com.example.yf_04.bluetoothtest.BluetoothVisible"
            android:screenOrientation="portrait" ></activity>
    </application>

</manifest>